
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root h1 {
  flex: 1;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex: 1;
  margin-top: 50px;
}
.container .dataGrid {
  
  height: 350px;
}
.dialogForm .panel-body form > div {
  margin-bottom: 10px;
}
.dialogForm .panel-body > .f-full {
  padding: 20px 50px;
}
.dialogForm .panel-body form .f-field {
  width: 220px;
}

.container .btnCreate {
  float: right;
  margin-bottom: 20px;
}